In [6]:
import numpy as np
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential, Model
from keras.layers import Embedding, LSTM, Dense
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
print("✅success")

✅success

In [22]:
df = pd.read_csv("C:/Users/rhyth/ML/Py-DS-ML-Bootcamp-master/spam_email_addresses/data/emails_spam_ham.csv")
df

                                  email_address label
0                          luckyduck880@shaw.ca   ham
1                           coder221@freenet.de   ham
2     hao_007zpy2@instantreward321@vipoffers.co   ham
3                              meera3@yahoo.com   ham
4                   guitarheroXm6a4@superwin.co  spam
...                                         ...   ...
9995                       isabel9995@orange.fr  spam
9996                 pranav9996@virginmedia.com  spam
9997                    mohit_cool9997@posta.it  spam
9998            shopaholic019998@numericable.fr  spam
9999                 david23s9999@bonusoffer.io  spam

[10000 rows x 2 columns]

In [24]:
df.head()

                               email_address label
0                       luckyduck880@shaw.ca   ham
1                        coder221@freenet.de   ham
2  hao_007zpy2@instantreward321@vipoffers.co   ham
3                           meera3@yahoo.com   ham
4                guitarheroXm6a4@superwin.co  spam

In [26]:
df.describe()

               email_address  label
count                  10000  10000
unique                 10000      2
top     luckyduck880@shaw.ca   spam
freq                       1   9370

In [28]:
# df.columns = df.columns.str.strip()
df['label'] = df['label'].map({'ham':0,'spam':1})
df.head()

                               email_address  label
0                       luckyduck880@shaw.ca      0
1                        coder221@freenet.de      0
2  hao_007zpy2@instantreward321@vipoffers.co      0
3                           meera3@yahoo.com      0
4                guitarheroXm6a4@superwin.co      1

In [30]:


MAX_WORDS = 1000
MAX_LEN = 30

tokenizer = Tokenizer(num_words = MAX_WORDS, char_level=False,oov_token = "<OOV>")
tokenizer.fit_on_texts(df['email_address'])

sequences = tokenizer.texts_to_sequences(df['email_address'])
padded_sequences = pad_sequences(sequences, maxlen = MAX_LEN, padding = 'post')

In [40]:
EMBEDDING_DIM = 32

inputs = Input(shape=(MAX_LEN,))
x = Embedding(MAX_WORDS, EMBEDDING_DIM)(inputs)
x = LSTM(64, name="lstm_layer")(x)
outputs = Dense(1, activation='sigmoid')(x)

model = Model(inputs=inputs, outputs=outputs)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(padded_sequences, df['label'], epochs=5, batch_size=32, verbose=1)

NameError: name 'Input' is not defined

In [38]:
_ = model.predict(padded_sequences[:1])
emb_model = Model(inputs=model.input, outputs = model.get_layers("lstm_layer"))
X_embed = emb_model.predict(padded_sequences)
y = df['label'].values

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 259ms/step

AttributeError: The layer sequential has never been called and thus has no defined input.